<%- include('partials/header') -%> 
<div class="home">
    <div class="container dd">
        <h1>Welcome to Essex Rate</h1>
        <h2>Rate your favorite stalls on Campus</h2>
    </div>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <h3>Do you want to view the stalls?</h3>
            <a href="/table"><button type="button" class="btn btn-light">Yesss</button></a>
          </div>
          <div class="col">
            <h3 class="de">Rate a new stall? </h3>
            <a href="/entry"><button type="button" class="btn btn-light">Take me</button></a>
          </div>
        </div>
      </div>


</div>

<%- include('partials/footer') -%> 